*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button, a {
  all: unset;
  cursor: pointer;
}

li {list-style: none;}


body {height: 0;}


.transition {
  transition: 1s ease;
}

.animate-fade-up {
  animation: fadeUp 1s ease;
}

.animate-fade-right {
  animation: fadeRight 1s ease;
}

.animate-fade-left {
  animation: fadeLeft .5s ease;
}

@keyframes fadeUp {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeRight {
  0% {
    transform: translateX(-60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeLeft {
  0% {
    transform: translateX(60px);
    opacity: .5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}