*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button, a {
  all: unset;
  cursor: pointer;
}

li {list-style: none;}




.transition {
  transition: 1s ease;
}

.animate-fade-up {
  animation: fadeUp 1s ease;
}

@keyframes fadeUp {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}